body {
  padding-left: 70px;
  padding-right: 70px;
  background-color: rgb(0,0,0);
  color:rgb(218,223,206);
  font-family: "Bookman",serif;
  font-size: 17px;
  /*border: 5px solid red;*/
  word-wrap: break-word;
}
h1 {
  background-color: inherit;
}
h2 {
  padding:5px;
  border-color: rgb(150,150,150);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  clear:both;
}
h3 {
  margin-left:10px;
  margin-top:10px;
  margin-bottom:4px;
  /*clear:left;*/
}

div {
  word-wrap: break-word;
}

#nav-table {
  font-family: "Courier New",monospace;
  width: 100%;
}
#nav-table th {
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(239,241,235);
  width: 25%;
}
#nav-table :hover{
  border: 2px groove rgb(200,230,160);
}
#nav-table th :hover{
  border-style: none;
}

th a {
  text-decoration: none;
  color:inherit;
}



#toc {// ToC
  text-decoration: none;
  background-color: rgb(50,50,50);
  border-style: solid;
  border-width: 1px;
  padding-right:25px;
  margin:10px;
  display: table;
}

#toc a {
  text-decoration: none;
  color:inherit;
  font-size: 1.2em;
}
#toc a:hover {
  text-decoration: none;
  color:rgb(116,146,94);
}
/* #nav-table a */

img {
  margin:10px;
  //float:right;
}

#title-img {
  float:right;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
}

#notes {
  font-size: 13px;
  font-family: monospace;
}
.redColor {
  color:rgb(255,0,0);
}
.pinkColor {
  color:rgb(255,174,201);
}
.greenColor {
  color:rgb(34,177,76);
}
.grayColor {
  color:rgb(150,150,150);
}


div.charDiv {
  position:absolute;
  width: auto;
  /*height: 200px;*/
  height:fit-content;
  display: block;

}


.charImg {
  float:left;
  margin-top: 5px;
  margin-right: 10px;
}

p.charP {
  clear:both;
  margin:4px;
}

.go-back {
  position:fixed;
  right:20px;
  bottom:30px;
  padding:3px;
  width:20px;
  height:40px;
  font-size: 40px;
  color:rgb(116,146,94);
  text-decoration: none;
}
.go-back:hover {
  color:white;
}
